*{
margin: 0px;
padding: 0px;
}
.menu-container{
    background-color:rgb(32,32,32 );
    padding: 20px;
    color: white;
    list-style: none;
     display: flex;
     align-items: center;
     justify-content: space-around;
}
}
.logo{
    width: 120px;
}
.menu{
display: flex;
}
.margin{
 margin: 10px 10px 10px 10px;
    padding-right: 7px;
    font-size: 18px;
}
.margin:hover{
    color: blue;
               
}
   .color{
    background-color: red;
   }
   .photo{
    width: 300px;
   }
   .baner-container{
    display: flex; 
    justify-content:space-around;
    height: 100vh;
    align-items: center;
    border: 2px solid gray;
    background-image: url("./images/background.png"),
    linear-gradient(45deg,#000,#999,#666);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
   }
   .baner-text{
    color: white;
   }
   .title{
    font-size: 55px;
    font-weight: bold;
   }
   .des{
    font-size: 20px;
    margin-top:15px;
    margin-bottom: 15px;
    padding: 10px 15px;
   }
   .color{
    color: white;
    padding: 10px 20px;
    border: none;
   }
   .color:hover{
    color: blue;
   }